/* sloganbox */
.sloganBox{
  background:#ddd5f5;
  margin-top:57px;
}
/* End sloganbox */

/* img slogan */
img {
  width: 80%;
  height: 300px;
  margin-left:46px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.20);
  transition: transform .1s;
  margin: 1em auto 2em;
}

img:hover{
  transform: scale(0.95);
}
/* End img slogan */

/* media query */
@media (max-width: 768px){

  img {
  width:80% ;
  height:80%;
  margin-left: 0px;
}

  .sloganBox{
    width: 100%;
}
}

/* End media query */
