.logo{

  background:#f8f9fa
}

/* imagen logo */
img{
  width: 150px;
  border-radius:15px;
  margin-left:20%
}

/* items del menu */
#itemsMenu{

  border-radius:20px;
  cursor: pointer;
}

a {
  color: #339997 !important;
  font-size:20px;
  font-family: inherit;
  margin-top: 10px;
  margin-left: 10px;

}
