

  <input #originSearched (keyup)="validateDiferentFlights(destinationSearched.value, originSearched.value)" type="text" onkeydown="return /[a-z]/i.test(event.key)"
   required maxlength="3"  value=""  onkeyup="javascript:this.value=this.value.toUpperCase();  ">


  <input #destinationSearched (keyup)="validateDiferentFlights(destinationSearched.value, originSearched.value)" type="text" onkeydown="return /[a-z]/i.test(event.key)"
  required maxlength="3"  value=""  onkeyup="javascript:this.value=this.value.toUpperCase(); ">


  <button type="submit" [disabled]="able">Guardar</button>

