 <app-navbar></app-navbar>
 <app-search-flights (journey) = "journey = $event" (loadingState) = "loadingState = $event" (foundFlights) = "foundFlights = $event" (hasFlights) = "hasFlights = $event" ></app-search-flights>

 <app-flight *ngIf = "foundFlights" [journey] = "journey"></app-flight>
 <br><p *ngIf = "hasFlights">NO SE ENCONTRARON VUELOS DISPONIBLES</p>
 <app-loading *ngIf = "loadingState"></app-loading>


<app-information ></app-information>
<app-slogan></app-slogan>

<router-outlet></router-outlet>
