/* box flights */
#box{
  margin-top:25px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.20);
  height:60px;
  cursor: pointer;
  transition: transform .1s
}

#box:hover{
  transform: scale(1.05);
}
/* End box flights */


/* search result */
#origin, #destiny{
  margin-bottom:5px
}
/* End search result */

/* Currency header */
.header {
  padding: .5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-bottom: solid 1px #dfdfdf;
  background-color: #2a2c49;
  color: white;
  margin-top: 30px;
}


.left {
  display: flex;
  gap: .5rem;
  font-weight: 500;
}

.right {
  display: flex;
  gap: 1rem;
}

.list-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: .5rem
}

.list-menu li {
  cursor: pointer;
  font-weight: 500;
  padding: 0 .5rem;
}
/* End Currency header */


/* logo imagen */
img{
  width: 90px;
  margin-top: 5px;
  margin-left: -5px;
}
/* End logo imagen */

h1 {

  font-size:15px;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
  font-weight:400;
  color: gray
}



/* media query */
@media (max-width: 350px){
  h1 {
    font-size: 10px;
  }
  .header{
    font-size: 10px;
  }
}
/* End media query */
